/* -------------------------------------------ROLLING BALL ON HALF CIRCLE------------------------ */
.rolling_ball {
  display: inline-grid;
  width: 150px;
  aspect-ratio: 1;
}
.rolling_ball:before,
.rolling_ball:after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
}
.rolling_ball:before {
  margin: 25%;
  background: repeating-conic-gradient(#c02942 0 60deg, #0b486b 0 120deg);
  transform: rotate(0turn) translate(50%) rotate(0turn);
  animation: l2 2s alternate infinite ease-in-out;
}
.rolling_ball:after {
  padding: 10%;
  margin: -10%;
  background: repeating-conic-gradient(
    from -15deg,
    #c02942 0 30deg,
    #0b486b 0 60deg
  );
  mask: conic-gradient(from 75deg, #000 210deg, #0000 0) content-box exclude,
    conic-gradient(from 75deg, #000 210deg, #0000 0);
}
@keyframes l2 {
  to {
    transform: rotate(0.5turn) translate(50%) rotate(-1turn);
  }
}

/* -----------------------------------------------------------------SPINING STROKES---------------- */
.spinner_strokes {
  width: 150px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgb(0 0 0/50%) 30%,
        #0000 0 70%,
        rgb(0 0 0/100%) 0
      )
      50%/8% 100%,
    linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0)
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.spinner_strokes::before,
.spinner_strokes::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.spinner_strokes::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}

/* -------------------------------------------------------------------SPINNER FADING RING*/
.fading_ring {
  width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #3498db 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #3498db);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

/* -------------------------------------------------------------------BOUNCY LOADING TEXT------------*/
.bouncy_loading_text {
  --w: 10ch;
  font-weight: bold;
  font-family: monospace;
  font-size: 25px;
  line-height: 1.2em;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0);
  animation: l17 2s infinite;
}
.bouncy_loading_text:before {
  content: "Loading...";
}
@keyframes l17 {
  0% {
    text-shadow: calc(0 * var(--w)) -1.2em #4caf50,
      calc(-1 * var(--w)) -1.2em #4caf50, calc(-2 * var(--w)) -1.2em #4caf50,
      calc(-3 * var(--w)) -1.2em #4caf50, calc(-4 * var(--w)) -1.2em #4caf50,
      calc(-5 * var(--w)) -1.2em #4caf50, calc(-6 * var(--w)) -1.2em #4caf50,
      calc(-7 * var(--w)) -1.2em #4caf50, calc(-8 * var(--w)) -1.2em #4caf50,
      calc(-9 * var(--w)) -1.2em #4caf50;
  }
  4% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50,
      calc(-1 * var(--w)) -1.2em #4caf50, calc(-2 * var(--w)) -1.2em #4caf50,
      calc(-3 * var(--w)) -1.2em #4caf50, calc(-4 * var(--w)) -1.2em #4caf50,
      calc(-5 * var(--w)) -1.2em #4caf50, calc(-6 * var(--w)) -1.2em #4caf50,
      calc(-7 * var(--w)) -1.2em #4caf50, calc(-8 * var(--w)) -1.2em #4caf50,
      calc(-9 * var(--w)) -1.2em #4caf50;
  }
  8% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) -1.2em #4caf50, calc(-3 * var(--w)) -1.2em #4caf50,
      calc(-4 * var(--w)) -1.2em #4caf50, calc(-5 * var(--w)) -1.2em #4caf50,
      calc(-6 * var(--w)) -1.2em #4caf50, calc(-7 * var(--w)) -1.2em #4caf50,
      calc(-8 * var(--w)) -1.2em #4caf50, calc(-9 * var(--w)) -1.2em #4caf50;
  }
  12% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 0 #4caf50, calc(-3 * var(--w)) -1.2em #4caf50,
      calc(-4 * var(--w)) -1.2em #4caf50, calc(-5 * var(--w)) -1.2em #4caf50,
      calc(-6 * var(--w)) -1.2em #4caf50, calc(-7 * var(--w)) -1.2em #4caf50,
      calc(-8 * var(--w)) -1.2em #4caf50, calc(-9 * var(--w)) -1.2em #4caf50;
  }
  16% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 0 #4caf50, calc(-3 * var(--w)) 0 #4caf50,
      calc(-4 * var(--w)) -1.2em #4caf50, calc(-5 * var(--w)) -1.2em #4caf50,
      calc(-6 * var(--w)) -1.2em #4caf50, calc(-7 * var(--w)) -1.2em #4caf50,
      calc(-8 * var(--w)) -1.2em #4caf50, calc(-9 * var(--w)) -1.2em #4caf50;
  }
  20% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 0 #4caf50, calc(-3 * var(--w)) 0 #4caf50,
      calc(-4 * var(--w)) 0 #4caf50, calc(-5 * var(--w)) -1.2em #4caf50,
      calc(-6 * var(--w)) -1.2em #4caf50, calc(-7 * var(--w)) -1.2em #4caf50,
      calc(-8 * var(--w)) -1.2em #4caf50, calc(-9 * var(--w)) -1.2em #4caf50;
  }
  24% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 0 #4caf50, calc(-3 * var(--w)) 0 #4caf50,
      calc(-4 * var(--w)) 0 #4caf50, calc(-5 * var(--w)) 0 #4caf50,
      calc(-6 * var(--w)) -1.2em #4caf50, calc(-7 * var(--w)) -1.2em #4caf50,
      calc(-8 * var(--w)) -1.2em #4caf50, calc(-9 * var(--w)) -1.2em #4caf50;
  }
  28% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 0 #4caf50, calc(-3 * var(--w)) 0 #4caf50,
      calc(-4 * var(--w)) 0 #4caf50, calc(-5 * var(--w)) 0 #4caf50,
      calc(-6 * var(--w)) 0 #4caf50, calc(-7 * var(--w)) -1.2em #4caf50,
      calc(-8 * var(--w)) -1.2em #4caf50, calc(-9 * var(--w)) -1.2em #4caf50;
  }
  32% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 0 #4caf50, calc(-3 * var(--w)) 0 #4caf50,
      calc(-4 * var(--w)) 0 #4caf50, calc(-5 * var(--w)) 0 #4caf50,
      calc(-6 * var(--w)) 0 #4caf50, calc(-7 * var(--w)) 0 #4caf50,
      calc(-8 * var(--w)) -1.2em #4caf50, calc(-9 * var(--w)) -1.2em #4caf50;
  }
  36% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 0 #4caf50, calc(-3 * var(--w)) 0 #4caf50,
      calc(-4 * var(--w)) 0 #4caf50, calc(-5 * var(--w)) 0 #4caf50,
      calc(-6 * var(--w)) 0 #4caf50, calc(-7 * var(--w)) 0 #4caf50,
      calc(-8 * var(--w)) 0 #4caf50, calc(-9 * var(--w)) -1.2em #4caf50;
  }
  40%,
  60% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 0 #4caf50, calc(-3 * var(--w)) 0 #4caf50,
      calc(-4 * var(--w)) 0 #4caf50, calc(-5 * var(--w)) 0 #4caf50,
      calc(-6 * var(--w)) 0 #4caf50, calc(-7 * var(--w)) 0 #4caf50,
      calc(-8 * var(--w)) 0 #4caf50, calc(-9 * var(--w)) 0 #4caf50;
  }
  64% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 0 #4caf50, calc(-3 * var(--w)) 0 #4caf50,
      calc(-4 * var(--w)) 0 #4caf50, calc(-5 * var(--w)) 0 #4caf50,
      calc(-6 * var(--w)) 0 #4caf50, calc(-7 * var(--w)) 0 #4caf50,
      calc(-8 * var(--w)) 0 #4caf50, calc(-9 * var(--w)) 1.2em #4caf50;
  }
  68% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 0 #4caf50, calc(-3 * var(--w)) 0 #4caf50,
      calc(-4 * var(--w)) 0 #4caf50, calc(-5 * var(--w)) 0 #4caf50,
      calc(-6 * var(--w)) 0 #4caf50, calc(-7 * var(--w)) 0 #4caf50,
      calc(-8 * var(--w)) 1.2em #4caf50, calc(-9 * var(--w)) 1.2em #4caf50;
  }
  72% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 0 #4caf50, calc(-3 * var(--w)) 0 #4caf50,
      calc(-4 * var(--w)) 0 #4caf50, calc(-5 * var(--w)) 0 #4caf50,
      calc(-6 * var(--w)) 0 #4caf50, calc(-7 * var(--w)) 1.2em #4caf50,
      calc(-8 * var(--w)) 1.2em #4caf50, calc(-9 * var(--w)) 1.2em #4caf50;
  }
  76% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 0 #4caf50, calc(-3 * var(--w)) 0 #4caf50,
      calc(-4 * var(--w)) 0 #4caf50, calc(-5 * var(--w)) 0 #4caf50,
      calc(-6 * var(--w)) 1.2em #4caf50, calc(-7 * var(--w)) 1.2em #4caf50,
      calc(-8 * var(--w)) 1.2em #4caf50, calc(-9 * var(--w)) 1.2em #4caf50;
  }
  80% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 0 #4caf50, calc(-3 * var(--w)) 0 #4caf50,
      calc(-4 * var(--w)) 0 #4caf50, calc(-5 * var(--w)) 1.2em #4caf50,
      calc(-6 * var(--w)) 1.2em #4caf50, calc(-7 * var(--w)) 1.2em #4caf50,
      calc(-8 * var(--w)) 1.2em #4caf50, calc(-9 * var(--w)) 1.2em #4caf50;
  }
  84% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 0 #4caf50, calc(-3 * var(--w)) 0 #4caf50,
      calc(-4 * var(--w)) 1.2em #4caf50, calc(-5 * var(--w)) 1.2em #4caf50,
      calc(-6 * var(--w)) 1.2em #4caf50, calc(-7 * var(--w)) 1.2em #4caf50,
      calc(-8 * var(--w)) 1.2em #4caf50, calc(-9 * var(--w)) 1.2em #4caf50;
  }
  88% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 0 #4caf50, calc(-3 * var(--w)) 1.2em #4caf50,
      calc(-4 * var(--w)) 1.2em #4caf50, calc(-5 * var(--w)) 1.2em #4caf50,
      calc(-6 * var(--w)) 1.2em #4caf50, calc(-7 * var(--w)) 1.2em #4caf50,
      calc(-8 * var(--w)) 1.2em #4caf50, calc(-9 * var(--w)) 1.2em #4caf50;
  }
  92% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 0 #4caf50,
      calc(-2 * var(--w)) 1.2em #4caf50, calc(-3 * var(--w)) 1.2em #4caf50,
      calc(-4 * var(--w)) 1.2em #4caf50, calc(-5 * var(--w)) 1.2em #4caf50,
      calc(-6 * var(--w)) 1.2em #4caf50, calc(-7 * var(--w)) 1.2em #4caf50,
      calc(-8 * var(--w)) 1.2em #4caf50, calc(-9 * var(--w)) 1.2em #4caf50;
  }
  96% {
    text-shadow: calc(0 * var(--w)) 0 #4caf50, calc(-1 * var(--w)) 1.2em #4caf50,
      calc(-2 * var(--w)) 1.2em #4caf50, calc(-3 * var(--w)) 1.2em #4caf50,
      calc(-4 * var(--w)) 1.2em #4caf50, calc(-5 * var(--w)) 1.2em #4caf50,
      calc(-6 * var(--w)) 1.2em #4caf50, calc(-7 * var(--w)) 1.2em #4caf50,
      calc(-8 * var(--w)) 1.2em #4caf50, calc(-9 * var(--w)) 1.2em #4caf50;
  }
  100% {
    text-shadow: calc(0 * var(--w)) 1.2em #4caf50,
      calc(-1 * var(--w)) 1.2em #4caf50, calc(-2 * var(--w)) 1.2em #4caf50,
      calc(-3 * var(--w)) 1.2em #4caf50, calc(-4 * var(--w)) 1.2em #4caf50,
      calc(-5 * var(--w)) 1.2em #4caf50, calc(-6 * var(--w)) 1.2em #4caf50,
      calc(-7 * var(--w)) 1.2em #4caf50, calc(-8 * var(--w)) 1.2em #4caf50,
      calc(-9 * var(--w)) 1.2em #4caf50;
  }
}
