$skyBlue: var(--skyBlue);
$darkBlue: var(--darkBlue);
$aqua: var(--aqua);
$jungleGreen: var(--jungleGreen);
$darkRed: var(--darkRed);
$lightGray: var(--lightGray);

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.document_preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $lightGray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0;
  padding-top: 60px;
  margin: auto;
  z-index: 1;
  animation: fadeIn 0.8s ease-in-out;
}

.loading_animation_container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.document_preview_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  background: white;
  padding-bottom: 50px;
  width: 100%;
  max-width: 700px;
  animation: slideIn 0.5s ease-out;
  font-size: 0.8rem;

  > * {
    padding: 0 2rem;
  }

  h2 {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 1rem;
    background-color: $darkBlue;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.7rem;
    text-transform: uppercase;
  }
}

.section {
  width: 100%;

  .section_h4 {
    width: 100%;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid $darkBlue;
    color: $skyBlue;
    font-weight: bold;
  }

  .sigle_attribute {
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    padding-top: 5px;

    label {
      min-width: 100px;
      margin-right: 10px;
      font-weight: bold;
    }
    // Add styling for .value here if needed:
    // .value { }
  }

  .itemsContainer {
    width: 100%;
    padding-left: 1rem;

    .item_headers {
      display: flex;
      flex-direction: row;
      gap: 5px;
      padding-top: 1rem;
      font-weight: bold;

      .item_description {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
      }

      .item_quantity {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
      }

      .item_unitPrice {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
      }

      .item_subTotal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
      }
    }

    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 5px;
      padding: 5px 0;
      border-bottom: 1px solid $lightGray;

      .item_description {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
      }
      .item_quantity {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
      }
      .item_unitPrice {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
      }

      .item_subTotal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
      }
    }
  }
}

.buttonsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  button {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 10px 1rem;
    border: none;
    font-size: 1rem;
    font-family: "Times New Roman", Times, serif;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
  }

  .confirmButton {
    background-color: $jungleGreen;
  }

  .cancelButton {
    background-color: $darkRed;
  }
}
