/* @import "tailwindcss"; */

/* Global Box-Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --skyBlue: #2f63cd;
  --darkBlue: rgb(0, 0, 90);
  --aqua: rgb(0, 255, 255);
  --jungleGreen: #3c6930;
  --darkRed: #8c0505;
  --lightGray: #f7f8fa;
  --aboutBgColor: rgb(249, 246, 253);
  --purple: #6b21a8;
  --yellow: #facc15;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: left;
  color: rgb(0, 0, 0);
  overflow-x: hidden;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  all: unset;
  cursor: pointer;
}

a:hover,
a:active {
  filter: drop-shadow(0 0 10px rgb(0, 0, 0, 0.5));
}

/* ---------------------------------------------------------------------------------FORMS */
form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 100%;
  padding: 0;
  margin: 0;
  color: black;
  background: none;
  border: none;
  outline: none;
}

form > * {
  width: 100%;
  max-width: 700px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

fieldset {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 8px rgb(158, 158, 158);
}

legend {
  width: 80%;
  max-width: 350px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    var(--lightGray) 10%,
    var(--lightGray) 90%,
    rgba(255, 0, 0, 0)
  );
}

.inline_form_elements_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
