$skyBlue: var(--skyBlue);
$darkBlue: var(--darkBlue);
$aqua: var(--aqua);
$jungleGreen: var(--jungleGreen);
$darkRed: var(--darkRed);
$lightGray: var(--lightGray);
$purple: var(--purple);
$yellow: var(--yellow);

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 0 6px rgb(168, 168, 168);
  background-color: $lightGray;
  z-index: 3;
}

.searchBar {
  display: none;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  border-radius: 9999px;
  padding: 0 0.5rem;
  border: 1.5px solid #d1d5db;

  @media (min-width: 768px) {
    display: flex;
  }
}

.searchInput {
  width: 200px;
  padding: 0.5rem;
  background: transparent;
  outline: none;
  border: none;
}

.iconsUserContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: flex-end;
  width: 100%;
}

.iconContainer {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;

  > * {
    width: 100%;
    height: 100%;
    color: rgb(107, 107, 107);
  }
}

.badge {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8b5cf6;
  color: #ffffff;
  border-radius: 50%;
  font-size: 0.75rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  font-size: 0.9rem;
  line-height: 0.9rem;
}

.userRole {
  font-size: 0.8rem;
  line-height: 0.9rem;
  color: #6b7280;
  text-align: right;
  font-weight: bold;
}
