.form {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  font-size: 0.8rem;
  border-radius: 30px;
  padding: 0 10px;
  box-shadow: 0 0 0 1.5px rgb(0, 0, 0, 0.1);

  .icon {
    width: 15px;
    height: 15px;
  }

  .input {
    height: fit-content;
    width: 100%;
    padding: 5px 10px;
    background: none;
    outline: none;
    border: none;
  }
}
