.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  overflow-y: auto;
  padding: 3rem;
  padding-bottom: 80px;
}

.modal {
  background: #fff;
  border-radius: 8px;
  width: 1000px;
  padding: 50px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  .closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 1;
  }
}

.quote {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  overflow-x: auto;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 0;
  border: 1px solid #ddd;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 30px;
  padding: 0 30px;

  .companyDetails {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    .companyName {
      font-weight: bold;
      font-size: 1.05rem;
    }
  }
}

.documentDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  span {
    font-size: 1.1rem;
    font-weight: bold;
    padding-right: 8px;
  }
}

.clientDetails {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-transform: capitalize;
  padding: 0 30px;

  .header {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
  }
  .name,
  .address,
  .contact {
    padding-left: 20px;
  }
}

.description {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 0 30px;

  .header {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
  }

  p {
    padding: 0;
    padding-left: 20px;
    margin: 0;
    line-height: 1.5;
  }
}

.items {
  width: calc(100% - 60px);
  border-collapse: collapse;
  margin: auto;

  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  thead {
    background-color: #d2f6ff;

    th {
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: #fafafa;
    }

    tr {
      td:nth-child(1),
      td:nth-child(3) {
        text-align: center;
      }

      td:nth-child(4),
      td:nth-child(5) {
        text-align: right;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  tfoot {
    td {
      border-top: 2px solid #ccc;
      padding: 10px 1rem;

      &.footerLabel {
        font-weight: bold;
        text-align: right;
      }

      &:last-child {
        font-weight: bold;
      }
    }

    tr {
      td:nth-child(1) {
        border: none;
      }
      td:nth-child(2) {
        text-align: right;
      }
    }

    tr:last-child {
      font-size: 1.1rem;
      td:last-child {
        background-color: #d2f6ff;
        border-bottom: 2px solid #ccc;
      }
    }
  }
}

.paymentDetails {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ddd;
  padding: 0 30px;
  padding-top: 30px;
  row-gap: 5px;

  .paymentDetailsHeader {
    font-weight: bold;
    font-size: 1.1rem;
  }
  .paymentDetailsTable {
    width: fit-content;
    border: none;
    padding: 0;
    padding-left: 20px;

    td {
      padding: 2px 0;
    }

    .paymentRecordLabel {
      padding-right: 10px;
      font-weight: bold;
    }
  }
}

.terms {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 30px;
  padding-top: 30px;
  border-top: 1px solid #ddd;

  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  p {
    padding: 0;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    padding-left: 20px;
  }
}

.servedBy {
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 30px;
  text-align: left;
  font-style: italic;
  font-size: 1.1em;

  span {
    font-weight: bold;
    padding-right: 5px;
  }
}

.actionButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 30px;
  padding: 0 30px;
}

.createPDFbutton {
  background-color: #0078d0;
  border: 0;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 10px 60px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.createPDFbutton:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.createPDFbutton:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

.cancelButton {
  background-color: #ca2e2e;
}
