$skyBlue: var(--skyBlue);
$darkBlue: var(--darkBlue);
$aqua: var(--aqua);
$jungleGreen: var(--jungleGreen);
$darkRed: var(--darkRed);
$lightGray: var(--lightGray);

$item-padding-vertical: 10px;
$item-padding-horizontal: 30px;

.itemContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: $item-padding-vertical $item-padding-horizontal;
}

/* The number bubble on the left */
.itemNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 40px;
  left: -20px;
  border-radius: 10px 0 0 10px;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  /* background-color: gray; */
}

/* The “remove” button on the right */
.removeItemButton {
  position: absolute;
  height: 70%;
  width: 40px;
  right: -20px;
  bottom: 10px;
  padding: 0px 5px;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  background-color: $darkRed;
}

/* “+ Add Item” button */
.addItemButton {
  width: 90%;
  padding: 10px 2rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background-color: $jungleGreen;
  color: white;
  transition: all 0.5s;
  // border-radius: 5px;

  &:hover {
    scale: 1.03;
  }
}
