$skyBlue: var(--skyBlue);
$darkBlue: var(--darkBlue);
$aqua: var(--aqua);
$jungleGreen: var(--jungleGreen);
$darkRed: var(--darkRed);
$lightGray: var(--lightGray);

.main {
  position: relative;
  width: 100%;
  padding: 60px 0;
}

/* Loading animation container styles */
.loadingContainer {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

/* Submit (Preview) button */
.submitButton {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(209, 136, 0);
  color: white;
  text-transform: capitalize;
}
