$skyBlue: var(--skyBlue);
$darkBlue: var(--darkBlue);
$aqua: var(--aqua);
$jungleGreen: var(--jungleGreen);
$darkRed: var(--darkRed);
$lightGray: var(--lightGray);

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 80px;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  padding: 20px 0;
  background-color: #7b7c7d;

  h1 {
    width: fit-content;
    color: white;
    font-size: 2rem;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 0 1rem;

    @media (max-width: 640px) {
      font-size: 1.5rem;
    }
  }
}
